@import './variables.scss';

html,
body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-size: cover;
    background-position: 10%;
}
.logo{
    width: 25vh;
}
.login-page{
    overflow: auto;
    height: 55vh;
}
#profile-img{
    width: 20px;
}
h1{
    font-family: var(--opensans-text);
    font-weight: 600;
    font-size: 2rem;    
}
.row, .col,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    border: 1px solid rgba(var(--main-black), 1);
}
main{
    height: 100vh;
    width: 150%;
    margin: 10rem 0 0 0;
}