/* roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/Roboto/Roboto-Regular.ttf'),
         url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf'), /* Super Modern Browsers */
  }