@import './Fonts/Roboto.css';
@import './Fonts/OpenSans.css';
@import './Fonts/MeriendaMedium.css';
@import './Fonts/MeriendaRegular.css';

:root{
    --opensans-text: 'Open Sans', sans-serif;
    --roboto-text: 'Roboto', sans-serif;

    --main-white: 255, 255, 255;
    --main-black: 0,0,0;
    --main-blue-background: 37, 41, 60;
    --main-grey-background: 249, 251, 253;
    --seconde-blue-background: 47, 51, 73;    
    --dark-green-01: 0, 75, 66;
    --dark-green-02: 61, 111, 52;
    --middle-green-01: 3, 152, 134;
    --middle-green-02: 58, 174, 134;
    --clear-green-01: 146, 200, 66;
    --clear-green-02: 89, 207, 187;
}